<div id="<%= dom_id answer %>">
  <p>
    <strong>Test user:</strong>
    <%= answer.test_user_id %>
  </p>

  <p>
    <strong>Question:</strong>
    <%= answer.question_id %>
  </p>

  <p>
    <strong>Answer:</strong>
    <%= answer.answer %>
  </p>

</div>
