# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

.env
.gitignore
 
# rails ignore
**/log
**/tmp
**/node_modules
 
# railsapp/tmp/cache
 
yarn-error.log
yarn-debug.log*
.yarn-integrity
