<h1>Editing matched with</h1>

<%= render "form", matched_with: @matched_with %>

<br>

<div>
  <%= link_to "Show this matched with", @matched_with %> |
  <%= link_to "Back to matched withs", matched_withs_path %>
</div>
