<!-- app/views/user_mailer/game_results_email.html.erb -->
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello <%= @user.name %>,</h1>
    <p>Here are the latest game results for your favorite teams:</p>
    <p><%= @content %></p>
  </body>
</html>