<!-- app/views/user_mailer/game_results_email.html.erb -->
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1> Custom Sports Newsletter </h1>
    <p><%= @content %></p>
  </body>
</html>