.main-container {
    justify-content: flex-start !important;
}

.chat-container {
    border: 1px solid var(--pale) !important;
    padding: 10px !important;
    border-radius: 8px !important;
    margin-right: 60px;
    height: 92vh;
    max-width: 500px;
}

.chat-page-container {
    border: 1px solid var(--pale) !important;
    padding: 10px !important;
    border-radius: 8px !important;
    margin-bottom: 40px;
    height: 92vh;
    max-width: 500px;
}

.message-list {
    height: 84vh;
    overflow-y: auto !important;
    font-family: 'Varela Round', sans-serif;
}

.message {
    padding: 10px !important;
    border-radius: 8px !important;
    margin: 5px 0 !important;
}

.message.sent {
    background-color: #e9f5fe !important;
    text-align: right !important;
}

.message.received {
    background-color: #f4f4f4 !important;
}
.bot-reply{
    background-color: lightblue;
    border-radius: 9999px;
    padding: 1rem;
}
.timestamp {
    font-size: 0.8em !important;
    color: gray !important;
}

.message-input-container {
    display: flex !important;
    margin-top: 10px !important;
}

.message-input-container input {
    flex: 1 !important;
    padding: 10px !important;
    border-radius: 8px !important;
    border: 1px solid #e0e0e0 !important;
    width: 100%;
}

.message-input-container button {
    padding: 10px 20px !important;
    border: none !important;
    background-color: var(--rose) !important;
    color: white !important;
    border-radius: 8px !important;
    margin-left: 10px !important;
    cursor: pointer !important;
}

.message-input-container button:hover {
    background-color: var(--dark);
}
