
.user-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 100vh;
  padding: 2rem;
  background: linear-gradient(to bottom, #FBB6CE, #F87171, #EF4444);
}
.welcome-message {
  text-align: center;
  color: white;
  margin-top: 6rem;
  font-size: 4rem;
  font-family: 'Bebas Neue', sans-serif;

}

.user-form-edit {
  margin-top: 50px;
  min-height: 100vh;
}

label{
padding: 1rem 10rem !important;
font-size: 1rem;
border: none;
border-radius: 10px;
outline: none;
transition: border-color 0.3s, box-shadow 0.3s;
font-family: 'Varela Round', sans-serif;
color: white;
}
input, select, textarea{
padding: 0.5rem 1rem;
font-size: 1rem;
border: none;
border-radius: 10px;
outline: none;
transition: border-color 0.3s, box-shadow 0.3s;
font-family: 'Varela Round', sans-serif;
}

.profile-button{
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border: none;
  /* background: linear-gradient(to right, #FBB6CE , #f0709d); */
  background:white;
  border-radius:9999px;
  cursor:pointer;
  color:black;
}

.profile-button:hover{
  background-color: var(--pink);
}

.selected-flag {
  display: inline-block;
  background-color: var(--dark);
  color: white;
  font-weight:bold;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  margin: 5px;
  border-radius: 20px;
}

.disabled-field {
  background-color: transparent;
  color: black;
}

.remove-flag-button {
  cursor: pointer;
  background: none;
  border: none;
  color: white;
  font-weight:bold;
  font-size: 10px;
  margin-left: 7px;
  margin-top:-5px;
  padding:0px;
}

.remove-flag-button:hover {
  background-color: #f97ba7;
}