.user-form {
    /* display: flex; */
    /* flex-direction: column; */
    /* align-items: center; */
    /* justify-content: space-between; */
    min-height: 100vh;
    /* padding: 2rem; */
    /* background: linear-gradient(to bottom, #FBB6CE, #F87171, #EF4444); */
  }
form{
    /* background: linear-gradient(to bottom, #FBB6CE, #F87171, #EF4444); */
}
label, input, select, textarea{
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: none;
    border-radius: 9999px;
    outline: none;
    transition: border-color 0.3s, box-shadow 0.3s;
}
.profile-button{
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: none;
    /* background: linear-gradient(to right, #FBB6CE , #f0709d); */
    background:white;
    border-radius:9999px;
    cursor:pointer;
    color:black;
}
.profile-button:hover{
    background-color: #F87171;
}
.selected-flag {
    display: inline-block;
    background-color: #FBB6CE;
    color: white;
    font-weight:bold;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    margin: 5px;
    border-radius: 20px;
  }
  
  .selected-flag:hover {
    background-color: #f97ba7;
  }
  .disabled-field {
    background-color: transparent;
    color: black;
  }

  .remove-flag-button {
    cursor: pointer;
    background: none;
    border: none;
    color: white;
    font-weight:bold;
    font-size: 10px;
    margin-left: 7px;
    margin-top:-5px;
    padding:0px;
  }

  .remove-flag-button:hover {
    background-color: #f97ba7;
  }