/* inherits fromserLanding.css */
  .loading{
    min-height: 100vh;
    background-color: transparent;
    font-size: 16px;
  }
  /* .custom-rating .MuiRating-icon {
    font-size: 2.5rem; 
  } */
  
  h1 {
    font-size: 24px;
    color: #333;
    /* border-bottom: 2px solid #ddd; */
    padding-bottom: 10px;
    margin-bottom: 20px;
  }
  
  p {
    font-size: 16px;
    color: #555;
    margin-bottom: 20px;
  }
  
  form {
    padding: 20px;
    border-radius: 8px;
    /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
  }
  
  label {
    font-size: 16px;
    display: block;
    margin-bottom: 10px;
  }
  
  textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    margin-bottom: 20px;
    resize: vertical;
  }
  
  input[type="submit"] {
    background-color: var(--rose);
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
  }
  
  input[type="submit"]:hover {
    background-color: var(--dark);
  }

  form > * {
    margin-bottom: 15px;
  }
  
  form > *:last-child {
    margin-bottom: 0;
  }

  .feedback-form{
    display: flex;
    flex-direction: column;
  }

  .feedback-q{
    text-align: center;
  }

  .feedback-font{
    font-family: 'Varela Round', sans-serif;
  }
  