.forgot-password-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* min-height: 100vh; */
    padding: 2rem;
    /* background: linear-gradient(to bottom, #FBB6CE, #f99595, #e46d6d); */
    color: white;
}

.forgot-password-title {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.forgot-password-instruction {
    font-size: 1.25rem;
    margin-bottom: 2rem;
    text-align: center;
}

.username-input {
    background-color: white;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 9999px;
    font-size: 1rem;
    margin-bottom: .5rem;
    outline: none;
}

.username-input:focus {
    border-color: #EF4444;
    box-shadow: 0 0 0 2px rgba(239, 68, 68, 0.5); /* Corresponding to #EF4444 with opacity */
}


.reset-button {
    background-color: white;
    color: #EF4444;
    padding: 0.5rem 2rem;
    border: none;
    border-radius: 9999px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.reset-button:hover {
    background-color: #EF4444;
    color: white;
}

.password-display {
    margin-top: 2rem;
    font-size: 1.25rem;
    word-break: break-all;
}

