@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Raleway&display=swap');
body {
  margin: 0;
  min-height: 100vh;
  min-width: 100vh;
  /* font-family: 'Open Sans', sans-serif; */
  background: linear-gradient(to bottom, #FBB6CE, #f99595, #e46d6d);
}
  
.welcome-message {
    text-align: center;
    color: white;
    margin-top: 6rem;
    font-size: 4rem;
    font-family: 'Bebas Neue', sans-serif;

}
  
.feature-card {
    background-color: #FFFFFF;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    min-width: 385px;
    max-width: 385px;
    margin: 0 auto;
    padding: 1.5rem;
    box-sizing: border-box;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
  
.feature-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}
  
.feature-card h2 {
    color: #333;
    margin: 0 0 1rem 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
}
  
.feature-card p {
    color: #666;
}
  
.features a {
    text-decoration: none;
    color: inherit;
}
  
.features a:visited {
    color: inherit;
}
  
@media (max-width: 768px) {
    .feature-card {
      width: 90%;
    }
}
