.faq-container {
  background-color: #212529;
  padding: 20px 20px;
  border-radius: 8px;
  margin-bottom: 30px;
  color: #f9f9f9;
  margin-top: -1.5vh;
}

.faq-title {
  font-size: 2rem;
  font-weight: bold;
  color: #fff5c1;
  margin-bottom: 15px;
}

.faq-container h2 {
  font-size: 2rem;
  font-weight: bold;
  color: #f7e382;
  text-align: center;
  margin-bottom: 20px;
}

.faq-list {
  display: flex;
  flex-direction: column;
}

.faq-item {
  background-color: #343a40;
  margin-bottom: 10px;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.faq-question {
  padding: 15px;
  background-color: #495057;
  font-size: 1.1rem;
  font-weight: bold;
  cursor: pointer;
  border-bottom: 1px solid #ccc;
  color: #f9f9f9;
  user-select: none;
}

.faq-answer {
  padding: 15px;
  background-color: #343a40;
  font-size: 1rem;
  color: #f9f9f9;
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: max-height 0.3s ease-in, opacity 0.3s ease-in;
  user-select: none;
}

.faq-answer.open {
  max-height: 500px; /* You can adjust this depending on the length of your answers */
  opacity: 1;
}

.faq-question:hover {
  background-color: #6c757d;
}

@media (max-width: 768px) {
  .faq-container {
    padding: 15px;
  }

  .faq-question {
    font-size: 1rem;
  }

  .faq-answer {
    font-size: 0.9rem;
  }
}
