<div id="<%= dom_id password %>">
  <p>
    <strong>Test user:</strong>
    <%= password.test_user_id %>
  </p>

  <p>
    <strong>Hashed password:</strong>
    <%= password.hashed_password %>
  </p>

</div>
