<div id="<%= dom_id join_table_user_project %>">
  <p>
    <strong>User:</strong>
    <%= join_table_user_project.user_id %>
  </p>

  <p>
    <strong>Project:</strong>
    <%= join_table_user_project.project_id %>
  </p>

</div>
