<h1>New join table user project</h1>

<%= render "form", join_table_user_project: @join_table_user_project %>

<br>

<div>
  <%= link_to "Back to join table user projects", join_table_user_projects_path %>
</div>
