.head-container {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  width: 100vh;
}
.nav {
  display: flex;
  justify-content: space-between;
  padding: 0 16px 0 16px;
  position: fixed;
  width: 100%;
  background-color: var(--rose);
  z-index: 100;
}

.nav-right{
  display:flex;
  justify-content: space-between;
}

.user-welcome {
  display: flex;
  align-items: center; /* Align items vertically */
  color: white;
  font-size: 1.5em;
  font-family: 'Varela Round', sans-serif;
}

.logout-button {
  background-color: white;
  color: black;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  margin-right: 40px; 
  margin-bottom: 10px;
  font-family: 'Varela Round', sans-serif;
}


.logout-button:hover {
  background-color: var(--dark);
}

.header-scrolled {
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
