
  .left-panel {
    background-color: var(--pale);
    padding: 20px;
    margin-left: 60px;
    height: 90vh;
    overflow-y: auto;
    border-radius: 40px;
    width: 60%;
  }

  .centered-heading {
    text-align: center;
    font-family: 'Varela Round', sans-serif;
  }

  .matches-list{
    font-family: 'Varela Round', sans-serif;
  }

  .loading{
    font-family: 'Varela Round', sans-serif;
    text-align: center;
  }

  .matches-and-chat-container{
    height: 100vh;
  }

  .matches-list li {
    cursor: pointer;
    padding: 8px 12px;
    border-bottom: 1px solid #ccc;
    transition: background-color 0.3s;
  }
  
  .matches-list li:hover {
    background-color: #fbd7de;
  }