<h1>Editing test user</h1>

<%= render "form", test_user: @test_user %>

<br>

<div>
  <%= link_to "Show this test user", @test_user %> |
  <%= link_to "Back to test users", test_users_path %>
</div>
