<h1>Editing create join table user project</h1>

<%= render "form", create_join_table_user_project: @create_join_table_user_project %>

<br>

<div>
  <%= link_to "Show this create join table user project", @create_join_table_user_project %> |
  <%= link_to "Back to create join table user projects", create_join_table_user_projects_path %>
</div>
