<h1>New create join table user project</h1>

<%= render "form", create_join_table_user_project: @create_join_table_user_project %>

<br>

<div>
  <%= link_to "Back to create join table user projects", create_join_table_user_projects_path %>
</div>
