.league-checkbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    border: 2px solid #ccc;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
    background-color: #f9f9f9;
  }
  
  .league-checkbox img {
    width: 50px;
    height: 50px;
    margin-bottom: 8px;
    object-fit: contain; /* Ensures the image fits inside the box while maintaining aspect ratio */
    border-radius: 4px; /* Optional: Adds a bit of rounding to the corners */
    background-color: #f4f4f4; /* Optional: Adds a background for better presentation */
  }
  
  
  .league-checkbox.selected {
    border-color: #007bff;
    background-color: #e0f7ff;
  }
  
  .league-checkbox:hover {
    border-color: #007bff;
  }
  
  .league-name {
    font-size: 14px;
    font-weight: bold;
    text-align: center;
  }
  