<div id="<%= dom_id weight %>">
  <p>
    <strong>Test user:</strong>
    <%= weight.test_user_id %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= weight.category_id %>
  </p>

  <p>
    <strong>Weight:</strong>
    <%= weight.weight %>
  </p>

</div>
