<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  <style>
    body {
      font-family: Arial, sans-serif;
      line-height: 1.6;
      color: #333;
    }
    .container {
      width: 80%;
      margin: 0 auto;
      background-color: #f8f8f8;
      padding: 20px;
      border-radius: 10px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
    .header {
      font-size: 24px;
      color: #555;
    }
    .content {
      margin-top: 20px;
    }
  </style>
</head>
<body>
  <div class="container">
    <p class="header">Welcome to Heartcoded, <%= @test_user.name %>!</p>
    <div class="content">
      <p>We're excited to have you start your journey towards meaningful connections. Our unique approach to online dating focuses on deep compatibility and shared interests, ensuring a more engaging and authentic experience.</p>
      
      <p><b>Customized Matching:</b> Our intelligent algorithm uses your preferences and ongoing feedback to find you the most compatible matches.</p>
      
      <p><b>Seamless Conversations:</b> Say goodbye to awkward silences with our curated icebreakers tailored to your interests and hobbies.</p>
      
      <p><b>Your Digital Wingman:</b> Our advanced AI model is here to guide your interactions, making sure your conversations are lively and leading to meaningful connections.</p>
      
      <p><b>Privacy and Control:</b> Your personal data is secure with us. Update or delete your information at any time, and rest assured that your privacy is our top priority.</p>

      <p>We can't wait to see the connections you'll make. Start exploring Heartcoded today!</p>

      <p>Warm regards,<br>
      The Heartcoded Team</p>
    </div>
  </div>
</body>
</html>
