<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Password Reset Confirmation</h1>
    
    <p>Hello <%= @user.name %>,</p>
    
    <p>You recently requested to reset your password. If this was you, here is your reset code:</p>
    
    <p><%= @user.reset_password_token %></p>
    
    <p>Please note that this reset code is valid for 4 hours. If you did not request a password reset, please ignore this email and your password will remain unchanged.</p>
    
    <p>Thank you,<br>
    Heartcoded Team</p>
  </body>
</html>
